<div class="inner-content">    
    <ion-header>
        <ion-toolbar>
            <ion-title>Update Price Modal</ion-title>
            <ion-buttons slot="end">
                <ion-button (click)="dismiss()">Close</ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <form #updatePriceForm="ngForm" (ngSubmit)="updatePrice(updatePriceForm.value)">
        <ion-list>      
            <ion-item>
                <ion-label>
                    <h2>Amount:</h2>
                </ion-label>
                <ion-input name="value" class="ion-text-right" [(ngModel)] = "value"></ion-input>
                <ion-label>
                    <h2>&nbsp;&nbsp;Tokens</h2>
                </ion-label>
            </ion-item>
        </ion-list>
        <ion-toolbar>
            <ion-button type="submit" slot="primary">Update</ion-button>
        </ion-toolbar>
    </form>
</div>

<script>
    let currentModal = null;
    const controller = document.querySelector('ion-modal-controller');
    const button = document.querySelector('ion-button');
    button.addEventListener('click', createModal);
    function createModal() {
        controller.create({
        component: 'modal-content'
        }).then(modal => {
        modal.present();
        currentModal = modal;
        });
    }
    function dismissModal() {
        if (currentModal) {
            currentModal.dismiss().then(() => { currentModal = null; });
        }
    }
</script>