ion-item{
    --background: #FFFFFF;
    --border-color: #3880ff;
    --border-style: solid;
    --border-width: 1px;
    --color: #156bff;
}
ion-button{
    --background: #FFFFFF;
    --border-color: #3880ff;
    --border-style: solid;
    --color: #3880ff;
}
a{
    color: #5895ff;
}
