<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
<ion-header>
  <ion-toolbar>
    <ion-title>
      Home - Client
    </ion-title>
    <ion-button slot="end" (click)="logout()" color="primary">Logout</ion-button>
    <ion-title size="small">{{email}}: {{id}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title>Wallet</ion-card-title>
            <ion-card-subtitle>Perform wallet operations</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-card color="primary" (click)="updateBalance()">
              <ion-card-content>
                <ion-icon slot="start" name="wallet"></ion-icon>
                <ion-label fill="outline">Update Balance</ion-label>
              </ion-card-content>
            </ion-card>
            <ion-card color="primary" (click)="presentModal()">
              <ion-card-content>
                <ion-icon slot="start" name="wallet"></ion-icon>
                <ion-label fill="outline" >Buy Tokens</ion-label>
              </ion-card-content>
            </ion-card>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="8">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title>Balance <ion-spinner id="balload" name="crescent"></ion-spinner></ion-card-title>
            <ion-card-subtitle>Check your balance</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <img src="assets/Iota_logo.svg" width="70px" height="70px" alt="" />
              <b>Contabilistic: <p id="contabbalanceid">0 IOTA</p></b>
              <b>Available: <p id="balanceid">0 IOTA</p></b>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="2">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title>Tickets</ion-card-title>
            <ion-card-subtitle>Buy or use tickets</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-card color="primary" (click)="presentModalGenTicket()">
              <ion-card-content>
                <ion-icon slot="start" name="today"></ion-icon>
                <ion-label fill="outline" >Generate Ticket</ion-label>
              </ion-card-content>
            </ion-card>
            <ion-card color="primary" (click)="presentModalShowTicket()">
              <ion-card-content>
                <ion-icon slot="start" name="today"></ion-icon>
                <ion-label fill="outline" >Show Tickets</ion-label>
              </ion-card-content>
            </ion-card>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Inputs <ion-spinner id="inpload" name="crescent"></ion-spinner></ion-card-title>
            <ion-card-subtitle>Addresses with tokens</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="9"><b>Address</b></ion-col>
                <ion-col size="3"><b>Value (IOTA)</b></ion-col>
              </ion-row>
              <div id="inputs">
              </div>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Transfers <ion-spinner id="traload" name="crescent"></ion-spinner></ion-card-title>
            <ion-card-subtitle>Completed transactions</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="3"><b>Direction</b></ion-col>
                <ion-col size="6"><b>Address</b></ion-col>
                <ion-col size="3"><b>Value (IOTA)</b></ion-col>
              </ion-row>
              <div id="transfers">
              </div>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<script>
  
</script>
